{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">

<form class="form-sign" role="form" method="post" action="{% url 'account_login' %}">
<h3>{{site.name}}</h3>
  {% csrf_token %}
  {{ form.non_field_errors }}
<input class="form-control" name="login" placeholder="Username/Email" type="text" />{{ form.login.errors }}
<input class="form-control" name="password" placeholder="Password" type="password" />{{ form.password.errors }}
<button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>

{% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
{% endif %}

<div class="checkbox row">
  <label class="pull-left">
     <input type="checkbox" value="remember-me"> Remember me
  </label>
  <a class="forgot pull-right" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</div>
<a class="signup" href="{{ signup_url }}">Need an account? Sign up free.</a>
</form>

</div>

{% endblock %}
