{% extends "account/base.html" %}

{% load static %}
{% load i18n %}

{% block extra_head %}
<style type="text/css">
body {
  padding-top: 0px;
  padding-bottom: 40px;
  background-color: #eee;
}
.container {
  width: auto;
  max-width: 680px;
  padding: 0 60px 20px 60px;
  background-color: #fff;
  margin-top:40px;
}
</style>
{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
<div class="page-header">
    <h2>{% trans "Change Password" %}</h2>
</div>
    <p class="lead">{% trans 'Your password is now changed.' %} <a href="{% url 'account_login' %}">Sign in</a> now.</p>
{% endblock %}
