/static/
/ftc/static/grain_pool
.env
production.env
/user_upload/
.vscode
*.config
/db/
__pycache__
/*.log
/geochron/gah/build/
/geochron/geochron_at_home_cli.egg-info/
/geochron/gah/geochron_at_home_cli.egg-info/
