[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-allauth = ">=0.44.0"
psycopg2-binary = ">=2.8.6"
gunicorn = ">=20.0.4"
Django = ">=4"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
jwcrypto = "*"
django-prometheus = "*"
rsa = "*"
tzdata = ">=2022.1"  # required for Alpine linux (used in the Dockerfile)
pip = "*"
requests = ">= 2.32.3"
requests-oauthlib = ">= 2.0.0"

[dev-packages]
rsa = "4.9"
selenium = ">=4.25.0"

[requires]
python_version = "3.10"

[scripts]
gah = "./geochron/gah.py"
server = "./manage.py runserver"
test = "./manage.py test"
shell = "./manage.py shell"
debug = "./manage.py debug_shell"
collect = "./manage.py collectstatic --noinput"
migrate = "./manage.py migrate"
gen_jwt = "./gen_jwt.py"
