[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-allauth = ">=0.44.0"
psycopg2-binary = ">=2.8.6"
gunicorn = ">=20.0.4"
Django = ">=4"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
jwcrypto = "*"
django-prometheus = "*"
rsa = "*"
tzdata = ">=2022.1"  # required for Alpine linux (used in the Dockerfile)

[dev-packages]
rsa = "*"

[requires]
python_version = "3.8"
