/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	margin: 0;
	padding-top: 50px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}


/*
 * Global add-ons
 */

.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 */
 #navigation-header {
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	background: #363636;
	z-index: 1030;
 }
#navigation-header .logo {
	color: #fff;
	font-size: 18px;
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	text-decoration: none;
}
#navigation-header .bar-left {
	width: 100%;
}
#navigation-header .bar-left, #navigation-header .bar-right {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
    align-items: center;
}
#navigation-header .brand {
	display: flex;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
}
#navigation-header .bar {
	display: flex;
	width: 100%;
}
#navigation-header .help-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
}
#navigation-header .fa-question-circle::before {
	color: #9d9d9d;
}
#navigation-header .fa-question-circle:hover::before {
	color: #fff;
}
#navigation-header .dropdown .icon {
	display: inline-flex;
	width: 18px;
	align-items: center; /* TODO centre the icons */
}
#navigation-header .dropdown {
	position: relative;
	background: #111;
	user-select: none;
}
#navigation-header .dropdown-menu {
	position: absolute;
	right: 0;
	min-width: 160px;
	border: 1px solid rgba(0,0,0,.15);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 5px 0;
	font-size: 14px;
	text-align: left;
	white-space: nowrap;
	z-index: 1000;
	background: #fff padding-box;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	list-style: none;
}
#navigation-header .dropdown .caret {
	border-bottom: 4px dashed;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
#navigation-header .dropdown:not(:focus-within) .caret,
#navigation-header .dropdown:not(.visible) .dropdown-toggle:focus .caret {
	border-bottom: none;
	border-top: 4px dashed;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
#navigation-header .dropdown:not(:focus-within) .dropdown-menu,
#navigation-header .dropdown:not(.visible) .dropdown-toggle:focus ~ .dropdown-menu {
	display: none;
}
#navigation-header .dropdown.visible .dropdown-toggle:not(:focus),
#navigation-header .dropdown:focus-within .dropdown-toggle:not(:focus) {
	pointer-events: none;
}
#navigation-header .dropdown-menu a {
	display: block;
	padding: 3px 20px;
	font-weight: 400;
	line-height: 1.5;
	color: #333;
	outline: none;
	text-decoration: none;
}
#navigation-header .dropdown-menu a:focus {
	background: hsl(214, 100%, 94%);
}
#navigation-header .dropdown-menu a:hover {
	background: linear-gradient(to bottom, hsl(0, 0%, 96%) 0, hsl(0, 0%, 91%) 100%);
}
#navigation-header .dropdown-menu a:hover:focus {
	background: linear-gradient(to bottom, hsl(214, 100%, 92%) 0, hsl(214, 100%, 87%) 100%);
}
#navigation-header .dropdown-menu .divider {
	height: 1px;
	margin: 9px 0;
	background-color: #e5e5e5;
}
#navigation-header .dropdown .dropdown-toggle {
	display: flex;
	width: max-content;
	padding: 17px;
	align-items: center;
	white-space: nowrap;
	text-decoration: none;
	color: #fff;
}

/*
 * Main content
 */

.main {
	padding: 20px;
}
.main .page-header {
	margin-top: 0;
}

@media (min-width: 1200px) {
    .col-lg-4 {
        float: left;
        width: 33.33333333%;
    }
}

.row {
    box-sizing: border-box;
}

.row:before, .row:after {
    display: table;
    content: " ";
}

.row:after {
    clear: both;
}
  
.col-lg-4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.jumbotron {
    padding: 40px 60px;
    border-radius: 6px;
    margin-bottom: 30px;
    background-color: #eee;
    box-sizing: border-box;
}

h2 {
    font-size: 30px;
    font-weight: 100;
    line-height: 1.1;
}

.jumbotron h2 {
    margin: 20px 0 10px 0;
    box-sizing: border-box;
    font-weight: 500;
}

.jumbotron p {
    margin: 0 0 15px 0;
    font-size: 21px;
    font-weight: 200;
    line-height: 1.4;
    box-sizing: border-box;
}

.btn {
    background-image: linear-gradient(to bottom, #fff 0, #ddd 100%);
    color: #333;
    border: 1px solid transparent;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    display: inline-block;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
    white-space: nowrap;
}

.btn:hover {
    background-image: none;
    background-color: #bbb;
}

.btn-success {
    background-image: linear-gradient(to bottom, #6c6 0, #494 100%);
    color: #fff;
}

.btn-success:hover {
    background-image: none;
    background-color: #383;
}

.btn-primary {
    background-image: linear-gradient(to bottom, #89a 0, #269 100%);
    color: #fff;
}

.btn-primary:hover {
    background-image: none;
    background-color: #269;
}

.btn[disabled] {
    background-image: linear-gradient(to bottom, #aaa 0, #888 100%);
    color: #ccc;
}

.alert-success {
    color: #373;
    padding: 15px;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #efd 0, #dec 100%);
}

button.close {
    position: relative;
    top: -3px;
    background: 0 0;
    border: 0;
    line-height: 1;
    color: inherit;
    cursor: pointer;
    float: right;
    font-size: 21px;
    box-sizing: border-box;
}

.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 100%;
}

.sidebar-right {
    width: 25%;
    float: right;
}

.main-sidebar-right {
    width: 75%;
    float: left;
}

.list-group {
    border-radius: 4px;
    padding: 0 15px;
    box-shadow: 0 1px 2px #00000001;
    box-sizing: border-box;
}

.list-group-item {
    background-color: #fff;
    color: #555;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid #eee;
    box-sizing: border-box;
}

.list-group-item:hover {
    background-color: #eee;
}

.list-group-item.active {
    background-image: linear-gradient(to bottom, #26b 0, #37a 100%);
    color: #fff;
}

.list-group-item.active:hover {
    background-image: linear-gradient(to bottom, #15a 0, #269 100%);
    color: 0xfff;
}

.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.list-group-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
	margin-bottom: 30px;
	text-align: center;
}
.placeholders h4 {
	margin-bottom: 0;
}
.placeholder {
	margin-bottom: 20px;
}
.placeholder img {
	display: inline-block;
	border-radius: 50%;
}


/*
* jhe slider and track number
*/
section {
	width: 132px;
	height: auto;
	margin: 35px 10px 0 0;
	position: relative;
	float: right;
}
#slider{
	border-width: 1px;
	border-style: solid;
	border-color: #333 #333 #777 #333;
	border-radius: 25px;
	width: 100px;
	position: absolute;
	height: 13px;
	background-color: #8e8d8d;
	background: url('../images/bg-track.png') repeat top left;
	box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5), 
		0 1px 0 0px rgba(250, 250, 250, .5);
    left: 20px;
}
.slider-tooltip {
	position: absolute;
	display: block;
	top: -25px;
	left: 4px;
	width: 35px;
	height: 20px;
	color: #fff;
	text-align: center;
	font: 10pt Tahoma, Arial, sans-serif ;
	border-radius: 3px;
	border: 1px solid #333;
	-webkit-box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, .3);
	box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, .3);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: -moz-linear-gradient(top,  rgba(69,72,77,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8045484d', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}
.volume {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	right: -5px;
	background: url('volume.png') no-repeat 0 -50px;
	position: absolute;
	margin-top: -5px;
}
.ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background: url('../images/handle.png') no-repeat 50% 50%;
	font-weight: bold;
	color: #1C94C4;
	outline: none;
	margin-left: -9px;
	margin-bottom: -12px;
}
.ui-slider-range {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
	position: absolute;
	border: 0;
	top: 0;
	height: 100%;
	border-radius: 25px;
}

/* ------------ */

.dropdown-menu .fa {
    padding-right: 5px;
}

/*
#dropdown-tracknum, #tracknum {
	font-family: 'ds-digitalitalic';

	z-index: 10001;

	width: 160px; height: 50px;
	background: white;
	font-size: 4em;
	color: #707070;

	position: absolute;
	left: 50%; top: 0px;
	margin-left: -50px; margin-top: 0;

	text-align: center;
	line-height: 45px;

	border-top: 5px solid #E54B6B;
	background-image: linear-gradient(#f0f0f0, white);
} */
#dropdown-tracknum {
	/* font-family: "ds-digitalitalic";*/
	z-index: 10001;
	width: 120px;
	height: 50px;
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: -50px;
	margin-top: 0px;
	border-top: 4px solid #E54B6B;
}
/*  font */
@font-face {
	font-family: 'ds-digitalitalic';
	src: url('../fonts/ds-digii-webfont.eot');
	src: url('../fonts/ds-digii-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ds-digii-webfont.woff') format('woff'),
		url('../fonts/ds-digii-webfont.ttf') format('truetype'),
		url('../fonts/ds-digii-webfont.svg#ds-digitalitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

.leaflet-bar a.selecting {
	background-color: #80dbdb;
}

.details td {
    padding-left: 5px;
    padding-right: 5px;
}

.grain_table th {
    padding-left: 5px;
    padding-right: 5px;
    background-color: #8fbc8f;
}

.grain_table td {
    padding-left: 5px;
    padding-right: 5px;
}

.grain_table tr:nth-child(even) {
    background-color: #ffebcd;
}

.form-sign {
    max-width: 400px;
    padding: 30px 60px 30px 60px;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
#signup_form {
    max-width: 480px;
}
.form-sign .form-sign-heading,
.form-sign .checkbox {
  margin-bottom: 10px;
}
.form-sign .checkbox {
  font-weight: normal;
}
.form-sign .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    border-radius: 0px;
}
.form-sign .form-control:focus {
    z-index: 2;
}
.form-sign input[type="text"],
             input[type="email"],
             input[type="password"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
