{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<!-- ref: http://getbootstrap.com/examples/dashboard/ -->
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="description" content="fission track counting service" />
<meta name="keywords" content="geochronology, fission track, cloud" />
<title>{% block title %}geochron@home{% endblock %}</title>

<link href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">

<!-- Latest compiled and minified CSS -->
<link href="{% static 'bootstrap-3.4.1-dist/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Optional theme -->
<link rel="stylesheet" href="{% static 'bootstrap-3.4.1-dist/css/bootstrap-theme.min.css' %}">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>

<!-- Latest compiled and minified JavaScript -->
<script src="{% static 'jquery/jquery-1.12.4.min.js' %}" type="text/javascript"></script>
<script src="{% static 'jquery-ui-1.12.1/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
<style>
.no-stretch {
  width: max-content;
}
</style>
{% block head %}
{% endblock %}
<link href="{% static 'counting/css/dashboard.css' %}" rel="stylesheet">

</head>
<body {% block body_attributes %}{% endblock %} style="overflow-y:scroll;">
    <form id="logout-form" method="POST" action="{% url 'logout' %}" style="display: none;">{% csrf_token %}</form>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand active" href="{% url 'home' %}">Geochron@home</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% block left_nav_li %}{% endblock %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% block right_nav_li %}{% endblock %}
            {% if not user.is_authenticated or user.username == "guest" %}
            <li><div><a class='btn btn-primary navbar-btn' href="{% url 'signmeup' %}">Sign Up</a></div></li>
            <li>&nbsp;&nbsp;&nbsp;</li>
            {% endif %}
            <li class="dropdown active" id="account-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user fa-lg"></i>&nbsp; {{ user.username | default:"User"}} &nbsp;<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% if user.is_authenticated %}
                  <li><a href="{% url 'profile' %}"><i class="fa fa-cogs"></i>Site dashboard</a></li>
                  <li class="divider"></li>
                  <li><a id="nav-logout-link" href="#" onclick="document.getElementById('logout-form').submit()"><i class="fa fa-sign-out"></i>Logout</a></li>
                  {% if user.username != "guest"  %}
                    <li><a href="{% url 'account_change_password' %}"><i class="fa fa-key"></i>Change password</a></li>
                  {% endif %}
                  <li class="divider"></li>
                {% else %}
                    <li><a href="{% url 'account_login' %}"><i class="fa fa-sign-in"></i>Sign in</a></li>
                {% endif %}
                {% block right_nav_fn_counting %}
                  {% if user.is_authenticated %}
                    <li><a href="{% url 'counting' %}"><i class="fa fa-rotate-90 fa-sliders"></i>fission track counting</a></li>
                  {% endif %}
                {% endblock %}
                {% block right_nav_fn_edit %}
                  {% if user.is_staff or user.is_superuser %}
                    <li><a id='projects-link' href="{% url 'projects' %}"><i class="fa fa-flash"></i>Edit your projects</a></li>
                  {% endif %}
                {% endblock %}
                {% block right_nav_fn_results %}
                  {% if user.is_staff %}
                    <li class="divider"></li>
                    <li><a href="{% url 'report' %}"><i class="fa fa-cubes"></i>Get the results</a></li>
                  {% endif %}
                {% endblock %}
              </ul>
            </li>
            <li>
            {% block help %}
            <a href="{%url 'tutorial' %}" target="_blank"><i class="fa fa-question-circle fa-lg"></i></a>
            {% endblock %}
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
      {% block content %}{% endblock %}
      {% block footer %}{% endblock %}
    </div>
</body>
</html>
