{% extends "ftc/base.html" %}

{% load static %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="{% static 'Leaflet-1.9.3/leaflet.css' %}" />
<link rel="stylesheet" href="{% static 'noUiSlider-14.6.3/nouislider.min.css' %}" />
<style type="text/css">
#map {
      position: absolute;
      top: 40px;
      bottom: 0;
      width: 100%;
    }
#dropdown-tracknum  .form-control, .dropdown-menu {
border-radius: 0px;
}

#dropdown-tracknum .input-group-lg > .input-group-addon{
border-radius: 0px;
padding: 0px 6px;
}

#dropdown-tracknum .form-control {
background-color: #fff;
}
.input-group-lg > .form-control {
padding: 0px 8px;
font-size: 44px; /*canot set too big otherwise chromium will not vartical center*/
font-family: "ds-digitalitalic";
}
.input-group-addon {
    padding: 6px 6px;
}

.noUi-base {
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
}

.noUi-handle {
    cursor: default;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: none repeat scroll 0% 0% #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
    width: 0px;
}

#tracknum {
  width:90px;
  height:46px;
  line-height: 1.3px;
  text-align: center;
  font-family: 'ds-digitalitalic';
  font-size: 44px;
}

#btn-tracknum {
  width:30px;height:46px;border-radius:0;padding:6px 1px;
}

#btn-comment {
    height: 50px;
}

.noUi-vertical .noUi-tooltip {
    transform: none;
    -webkit-transform: none;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    border: none;
    line-height: 140%;
}

.ftc-uscale {
    background-color: gray;
}

.ftc-uscale-line-10 {
    background-image: repeating-linear-gradient(
        to right, white 0%, white 10%, gray 10%, gray 20%
    );
}

.ftc-uscale-line-5 {
    background-image: repeating-linear-gradient(
        to right, white 0%, white 20%, gray 20%, gray 40%
    );
}

.ftc-uscale-line-2 {
    background-image: repeating-linear-gradient(
        to right, white 0%, white 50%, gray 50%, gray 100%
    );
}

</style>
<script src="{% static 'Leaflet-1.9.3/leaflet.js' %}"></script>
<script type='text/javascript' src="{% static 'counting/script/easy-button.js' %}"></script>
<script type='text/javascript' src="{% static 'counting/script/jquery.mousewheel.js' %}"></script>
<script type='text/javascript' src="{% static 'noUiSlider-14.6.3/nouislider.min.js' %}"></script>
<script type='text/javascript' src="{% static 'counting/script/geochron.js' %}"></script>
<script type='text/javascript'>
function setup() {
    $(document.body).on('shown.bs.dropdown', function() {
        $('[autofocus]').focus();
    });
    var map = grain_view({
        grain_info: JSON.parse('{{ grain_info|escapejs }}'),
        atoken: '{{ csrf_token }}',
        iconUrl_normal: "{% static 'counting/images/circle.png' %}",
        iconUrl_selected: "{% static 'counting/images/redCircle.png' %}",
        iconSize: 6,
        iconAnchor: [3, 3],
        iconPopup: [0, 0]
    });
    map.setTrackCounterElement(document.getElementById('tracknum'));
    document.getElementById('tracknum-submit').onclick = function() {
        var submit_redirect_url = "{{ submit_redirect_url }}" || "{% url 'counting' %}";
        map.submitTrackCount("{% url 'updateFtnResult'%}", submit_redirect_url);
    };
    document.getElementById('tracknum-restart').onclick = map.restartTrackCount;
    var save = document.getElementById('tracknum-save');
    if (save) {
        save.onclick = function() {
            map.saveTrackCount("{% url 'saveWorkingGrain'%}", null);
        };
    }
    var prev_grain = document.getElementById('tracknum-previous');
    if (prev_grain) {
        prev_grain.onclick = function() {
            map.saveTrackCountIfNecessary(
                "{% url 'saveWorkingGrain'%}",
                "{{prev_url}}"
            );
        };
    }
    var next_grain = document.getElementById('tracknum-next');
    if (next_grain) {
        next_grain.onclick = function() {
            map.saveTrackCountIfNecessary(
                "{% url 'saveWorkingGrain' %}",
                "{{next_url}}"
            );
        };
    }
    var cancel = document.getElementById('tracknum-cancel');
    if (cancel) {
        cancel.onclick = function() {
            map.cancelWithConfirm(
                "{{cancel_url}}"
            );
        };
    }
    map.resetUndo();
    map.enableEditing();
}
</script>
{% endblock %}

{% block left_nav_li %}{% if categories %}
<select id="category" name="category">
    <option value="">-- category --</option>
    {% for cat in categories %}
    <option value="{{ cat.name }}">{{ cat.description }}</option>
    {% endfor %}
</select>
<div id="control-comment" class="btn-group">
    <button id="btn-comment" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Comment
    </button>
    <form class="dropdown-menu" id="form-comment">
        <input type="text" id="comment-text" autofocus="autofocus">
        <input id="btn-comment-submit" type="submit" value="submit">
    </form>
</div>
<button type="button" id="btn-prev-marker">
    <i class="fa fa-caret-left"></i>
</button>
<button type="button" id="btn-next-marker">
    <i class="fa fa-caret-right"></i>
</button>
{% endif %}{% endblock %}
{% block right_nav_li %}{% endblock %}
{% block right_nav_fn_counting %}{% endblock %}

{% block body_attributes %}onload='setup()'{% endblock %}

{% block help %}
<div class="btn-group">
    <div type="button" class="btn navbar-link dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-question-circle fa-lg"></i>
    </div>
    <ul id="help-list" class="dropdown-menu"></ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="dropdown-tracknum" class="input-group">
<div class="btn-group">
  <input id="tracknum" class="form-control" type="text" value="000" readonly>
  <button id="btn-tracknum" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    {% if user.username != "guest"  %}
    <li><a id="tracknum-save" href="#"><i class="fa fa-floppy-o"></i>save intermediate result</a></li>
    {% endif %}
    <li><a id="tracknum-submit" href="#"><i class="fa fa-cloud-upload"></i>submit result</a></li>
    <li><a id="tracknum-restart" href="#"><i class="fa fa-th-list"></i>restart counting</a></li>
    {% if cancel_url %}
    <li><a id="tracknum-cancel" href="#"><i class="fa fa-eject"></i>cancel counting</a></li>
    {% endif %}
    {% if prev_url %}
    <li><a id="tracknum-previous" href="#"><i class="fa fa-angle-left"></i>previous grain</a></li>
    {% endif %}
    {% if next_url %}
    <li><a id="tracknum-next" href="#"><i class="fa fa-angle-right"></i>next grain</a></li>
    {% endif %}
  </ul>
</div>
</div>
<!-- ========================== -->
        <div style="clear:both;"></div>
    {% if messages %}
    <div>
      {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>{{ message.tags }}</strong> {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <div id="map" style="cursor: crosshair; position: absolute; top: 50px; bottom: 0; width: 100%; "></div>

{% endblock %}

{% block footer %}{% endblock %}
