{% extends "ftc/base.html" %}

{% load static %}
{% load order_by %}
{% load si_mag %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="{% static 'Leaflet-1.9.3/leaflet.css' %}" />
<link rel="stylesheet" href="{% static 'noUiSlider-14.6.3/nouislider.min.css' %}" />
<style>
#heading-row {
    display: contents;
}

#heading {
    width: 100%;
}

table.metadata {
    padding: 1px 10px;
}

table.metadata td:nth-child(odd) {
    background-color: #ccc;
}

#edit-container {
    display: block;
}

#map {
    position: absolute;
    top:144px;
    bottom: 0;
    width: 100%;
}

.noUi-base {
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
}

.noUi-handle {
    cursor: default;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: none repeat scroll 0% 0% #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    text-align: center;
    font-weight: bold;
    font-size: large;
}

#focus-slider-container {
    margin-left: 14px;
    margin-top: 27px;
}

#focus-slider {
    height: 120px;
}

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
    width: 0px;
}

.noUi-vertical .noUi-tooltip {
    transform: none;
    -webkit-transform: none;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    border: none;
    line-height: 140%;
}

#metadata-bar {
    float: left
}
</style>
<script type='text/javascript' src="{% static 'Leaflet-1.9.3/leaflet.js' %}"></script>
<script type='text/javascript' src="{% static 'noUiSlider-14.6.3/nouislider.min.js' %}"></script>
<script>
var static_ring_svg_url="{% static 'home/ring.svg' %}";
var static_pin_url="{% static 'Leaflet-1.9.3/images/marker-icon.png' %}"
var static_pin_url_2x="{% static 'Leaflet-1.9.3/images/marker-icon-2x.png' %}"
</script>
<script type='text/javascript' src="{% static 'projects/script/grain.js' %}"></script>
<script type='text/javascript' src="{% static 'counting/script/geochron.js' %}"></script>
<script>
var crystal_control;
function makeGrainMap() {
    var image_height = {{ object.image_height }};
    var image_width = {{ object.image_width }};
    var rois = {{ regions }};
    var shift_x = {{ shift_x }};
    var shift_y = {{ shift_y }};
    var shift_lat = -shift_y / image_width;
    var shift_lng = shift_x / image_width;
    var shifted_rois = rois.map(function(region) {
        return region.map(function(vertex) {
            return [
                vertex[0] + shift_lat,
                vertex[1] + shift_lng
            ];
        });
    });
    var view = grain_view({
        grain_info: {
            image_width: image_width,
            image_height: image_height,
            images: [
                //{% for i in images %}
                "{% url 'get_image' i.pk %}",
                //{% endfor %}
            ],
            rois: shifted_rois
        },
        atoken: '{{ csrf_token }}'
    });
    return {
        image_width: image_width,
        image_height: image_height,
        map: view.map,
        region_layer: view.roisLayer,
        marker_layer: L.layerGroup().addTo(view.map),
        mid_marker_layer: L.layerGroup().addTo(view.map),
        region_points: rois,
        shift_x: shift_x,
        shift_y: shift_y
    };
}
window.addEventListener('load', function() {
    crystal_control = makeGrainMap();
});
</script>

{% endblock %}

{% block content %}

<div id="heading-row">
    <span id="heading">
        Images for grain {{ object.index }}
        in sample <a href="{% url 'sample' object.sample.pk %}">{{ object.sample.sample_name }}</a>,
        in project <a href="{% url 'project' object.sample.in_project.pk %}">{{ object.sample.in_project.project_name }}</a>
    </span>
    {% if previous_pk %}
    <a id="go_prev" class="btn btn-default" href="{% url 'grain' previous_pk %}">&lt;</a>
    {% endif %}
    <a id="count" class="btn btn-default" href="{% url 'count_my' object.pk %}">Count</a>
    <a id="count-mica" class="btn btn-default" href="{% url 'count_my_mica' object.pk %}">Count Mica</a>
    <a id="images" class="btn btn-default" href="{% url 'grain_images' object.pk %}">View Image Stack Info</a>
    <a id="meta" class="btn btn-default" href="{% url 'grain_update_meta' object.pk %}">Edit Metadata</a>
    {% if ft_type == 'S' %}
    <a id="go_mica" class="btn btn-default" href="{% url 'mica' object.pk %}">View Mica</a>
    {% else %}
    <a id="go_grain" class="btn btn-default" href="{% url 'grain' object.pk %}">View Grain</a>
    {% endif %}
    {% if ft_type == 'S' %}
    <a id="edit" href="#" class="btn btn-default" onclick="beginEdit(crystal_control)">Edit Region</a>
    <a id="save" href="#" class="btn btn-default" onclick="save(crystal_control, &quot;{% url 'grain_update_roi' object.pk %}&quot;, document.getElementById('empty-form'))" disabled>Save</a>
    {% else %}
    <a id="edit_shift" href="#" class="btn btn-default" onclick="beginShiftEdit(crystal_control)">Adjust Shift</a>
    <a id="save_shift" href="#" class="btn btn-default" onclick="saveShift(crystal_control, &quot;{% url 'grain_update_shift' object.pk %}&quot;, document.getElementById('empty-form'))" disabled>Save</a>
    {% endif %}
    <a id="cancel_edit" href="#" class="btn btn-default" onclick="cancelEdit(crystal_control)" disabled>Cancel Edit</a>
    <a id="download-rois" href="{% url 'download_grain_rois' object.pk %}" class="btn btn-default" download="rois.json">Download ROI</a>
    {% if next_pk %}
    <a id="go_next" class="btn btn-default" href="{% url 'grain' next_pk %}">&gt;</a>
    {% endif %}
</div>
<div id="metadata-bar">
    <table id="metadata">
        <tr><td>Image size:</td><td id="image-size">
            {{ object.image_width }}&#x00D7;{{ object.image_height }}
        </td></tr>
        <tr><td>Pixel size:</td><td id="pixel-size">
            {% si_mag object.scale_x unit='m' none='?' %}&#x00D7;{% si_mag object.scale_y unit='m' none='?' %}
        </td></tr>
        <tr><td>Stage position:</td><td id="stage-position">
            {% if ft_type == 'S' %}
            {{ object.stage_x }}&#x00D7;{{ object.stage_y }}
            {% else %}
            {{ object.mica_stage_x }}&#x00D7;{{ object.mica_stage_y }}
            {% endif %}
        </td></tr>
    </table>
</div>
<div id="map"></div>

<form id="empty-form" style="display: none;">
    {% csrf_token %}
</form>
{% endblock %}
