{% extends "ftc/base.html" %}

{% load static %}
{% load order_by %}
{% load si_mag %}

{% block content %}
<h2>
    <a href="{% url 'grain' object.pk %}">Grain {{ object.index }}</a>
    of sample <a href="{% url 'sample' object.sample.pk %}">{{ object.sample.sample_name }}</a>
    in project <a href="{% url 'project' object.sample.in_project.pk %}">{{ object.sample.in_project.project_name }}</a>
</h2>
<h3>Metadata</h3>
<table class="metadata">
    <tr><td>Image size:</td><td>{{ object.image_width }}&#x00D7;{{ object.image_height }}</td></tr>
    <tr><td>Pixel size:</td><td>
        {% si_mag object.scale_x unit='m' none='?' %}&#x00D7;{% si_mag object.scale_y unit='m' none='?' %}
    </td></tr>
    <tr><td>Stage position:</td><td>{{ object.stage_x }}&#x00D7;{{ object.stage_y }}</td></tr>
</table>
<h3>Images</h3>
<table class="table">
    <thead>
        <tr>
            <th>format</th>
            <th>ft_type</th>
            <th>index</th>
            <th>light_path</th>
            <th>focus</th>
            <th>image link</th>
        </tr>
    </thead>
    <tbody>
        {% for image in object.image_set.all|order_by:"-ft_type,index" %}
        <tr>
            <td>{{ image.format }}</td>
            <td>{{ image.ft_type }}</td>
            <td>{{ image.index }}</td>
            <td>{{ image.light_path }}</td>
            <td>{{ image.focus }}</td>
            <td><a href="{% url 'image_delete' image.pk %}">Image {{ image.pk }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2>Add more images or image metadata:</h2>
<form
    enctype="multipart/form-data"
    action="{% url 'grain_images' object.pk %}"
    method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Add files">
</form>
<p>Uploaded files must have file names in one of the following forms (case insensitive):
    <ul>
        <li>rois.json</li>
        <li><strong>&lt;PREFIX&gt;</strong>Stack-<strong>&lt;NN&gt;</strong>.<strong>&lt;EXT&gt;</strong></li>
        <li><strong>&lt;PREFIX&gt;</strong>StackFlat.<strong>&lt;EXT&gt;</strong></li>
        <li><strong>&lt;PREFIX&gt;</strong>Stack-<strong>&lt;NN&gt;</strong>.<strong>&lt;EXT&gt;</strong>_metadata.xml</li>
        <li><strong>&lt;PREFIX&gt;</strong>StackFlat.<strong>&lt;EXT&gt;</strong>_metadata.xml</li>
    </ul>
    where <strong>&lt;NN&gt;</strong> is a one or two digit decimal number and
    <strong>&lt;EXT&gt;</strong> is one of jpg, jpeg or png, and <strong>&lt;PREFIX&gt;</strong>
    is optional but if present one of Mica, Refl or MicaRefl</p>
    {% endblock %}
