{% extends "ftc/base.html" %}

{% load static %}
{% load order_by %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="{% static 'Leaflet-1.7.1/leaflet.css' %}" />
<link rel="stylesheet" href="{% static 'noUiSlider-14.6.3/nouislider.min.css' %}" />
<style>
body {
    padding-top: 0;
}

#navigation-header {
    position: relative;
}

#heading-row {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

#heading {
    width: 100%;
}

#control-row {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

#edit, #save, #configure {
    margin-left: 5px;
    margin-right: 5px;
}

.control-divider {
    width: 2px;
    height: 1em;
    margin-left: 5px;
    margin-right: 5px;
    background: #ccc;
}

button {
    border: #888;
    border-radius: 4px;
    padding: 2px 20px;
    margin: 3px;
}

button:disabled {
    background: #eee;
    color: #bbb;
}

#edit-container {
    display: block;
}

#map {
    position: fixed;
    width: 100%;
    height: 100%;
}

.image-crystal {
}

.image-mica {
    opacity: 0.4;
    filter: contrast(10);
}

.noUi-base {
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
}

.noUi-handle {
    cursor: default;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: none repeat scroll 0% 0% #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    text-align: center;
    font-weight: bold;
    font-size: large;
}

#focus-slider-container {
    margin-left: 14px;
    margin-top: 27px;
}

#focus-slider {
    height: 120px;
}

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
    width: 0px;
}

.noUi-vertical .noUi-tooltip {
    transform: none;
    -webkit-transform: none;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    border: none;
    line-height: 140%;
}
</style>
<script type='text/javascript' src="{% static 'Leaflet-1.7.1/leaflet.js' %}"></script>
<script type='text/javascript' src="{% static 'noUiSlider-14.6.3/nouislider.min.js' %}"></script>
<script>var static_ring_svg_url="{% static 'home/ring.svg' %}";</script>
<script type='text/javascript' src="{% static 'projects/script/grain.js' %}"></script>
<script type='text/javascript' src="{% static 'counting/script/geochron.js' %}"></script>
<script>
var crystal_control;
function makeGrainMap() {
    var image_height = {{ object.image_height }};
    var image_width = {{ object.image_width }};
    var rois = [
        //{% for region in object.region_set.all %}
        [
            //{% for v in region.vertex_set.all|order_by:"id" %}
            [(image_height - {{v.y}}) / image_width, {{v.x}} / image_width],
            //{% endfor %}
        ],
        //{% endfor %}
    ];
    var view = grain_view({
        grain_info: {
            image_width: image_width,
            image_height: image_height,
            shift_x: {{ object.shift_x }},
            shift_y: {{ object.shift_y }},
            // scale_x
            images_crystal: [
                //{% for i in object.get_images_crystal %}
                "{% url 'get_image' i.pk %}",
                //{% endfor %}
            ],
            images_mica: {
                //{% for i in object.get_images_mica %}
                [{{ i.index }} + 1]: "{% url 'get_image' i.pk %}",
                //{% endfor %}
            },
            rois: rois
        },
        atoken: '{{ csrf_token }}'
    });
    return {
        map: view.map,
        region_layer: view.roisLayer,
        marker_layer: L.layerGroup().addTo(view.map),
        mid_marker_layer: L.layerGroup().addTo(view.map),
        region_points: rois,
    };
}
window.addEventListener('load', function() {
    crystal_control = makeGrainMap();
    document.getElementById("map").focus();
});
</script>

{% endblock %}

{% block content %}

<div id="heading-row">
    <span id="heading">
        Images for grain {{ object.index }}
        in sample <strong>{{ object.sample.sample_name }}</strong>,
        in project <strong>{{ object.sample.in_project.project_name }}</strong>
    </span>
    <span id="control-row">
        <button id="configure">Configure View</button>
        <span class="control-divider"></span>
        <!--got to figure out how to fix this-->
        <button id="edit" onclick="beginEdit(crystal_control)">Edit</button>
        <button id="save" onclick="save(crystal_control, &quot;{% url 'grain_update' object.pk %}&quot;, document.getElementById('empty-form'))" disabled>Save</button>
    </span>
</div>

<div id="map"></div>

<ul>
    {% for i in images %}
    <img src="{% url 'get_image' i.pk %}">
    {% endfor %}
</ul>

<form id="empty-form" style="display: none;">
    {% csrf_token %}
</form>
{% endblock %}
