{% extends "ftc/base.html" %}

{% load static %}

{% block head %}
<script>
$(document).ready(function () {
  $('[data-toggle="offcanvas"]').click(function () {
    $('.row-offcanvas').toggleClass('active')
  });
});
</script>

<style>
/*
 * Style tweaks
 * --------------------------------------------------
 */
/* Prevent scroll on narrow devices */
/*
html,
body {
  overflow-x: hidden;
}
*/
/*
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}
*/
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
}

.container > * {
  background: linear-gradient(to bottom, #eee 0, #ddd 100%);
  border-radius: 4px;
  padding: 10px;
  margin-block: 10px;
  margin-inline: 20px;
  flex-grow: 1;
}
</style>
{% endblock %}

{% block content %}

{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>{{ message.tags }}</strong> {{ message }}
</div>
{% endfor %}

<div style="margin-top:20px">

<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-xs-12 col-sm-9">
    <p class="pull-right visible-xs">
      <button type="button" class="btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>
    <div class="jumbotron">
      <span>Welcome, <b>{{user.username}}</b>!</span>
      {% if not tutorial_completed %}
      <p class="text-danger"><small>You must finish the tutorial before counting.</small></p>
      {% endif %}
    </div>
    <div class="container">
      <span>
        <h2>Learn Geochron@home</h2>
        <p><a id="tutorial-link" href="{%url 'tutorial' %}" role="button">Tutorial &raquo;</a></p>
      </span>
      <span>
        <h2>Start counting</h2>
        <p><a id="start-counting-link" role="button"
          {% if tutorial_completed %} href="{% url 'counting' %}" {% else %} disabled="" {% endif %}>
          Go &raquo;
        </a></p>
      </span>
      <span>
        <h2>View site statistics</h2>
        <p><a id="site-statistics-link" href="#" role="button">View details &raquo;</a></p>
      </span>
      {% if user.is_staff %}
      <span>
        <h2>Set up a project</h2>
        <p>Learn how to start a project, preparing the folder structure and following the naming guidelines for files and directories.</p>
        <p><a href="#" role="button">View details &raquo;</a></p>
      </span>
      <span>
        <h2>Get results</h2>
        <p>Download project results for offline analysis.</p>
        <p><a href="{% url 'report'%}" role="button">View details &raquo;</a></p>
      </span>
      <span>
        <h2>Manage projects</h2>
        <p>Create, remove, and update projects. Upload crystal stacks.</p>
        <p><a href="{% url 'projects'%}" role="button">View details &raquo;</a></p>
      </span>
      {% endif%}
    </div>
  </div>

  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="list-group">
      <a href="{% url 'account_logout'%}" class="list-group-item active">Logout</a>
      {% if user.username != "guest" %}
      <a href="{% url 'account_change_password'%}" class="list-group-item">Change password</a>
      {% endif %}
    </div>
  </div>
</div>

<footer>
  <p>&copy; Jiangping He 2014 - 2021</p>
</footer>

</div>

{% endblock %}

