{% extends "ftc/base.html" %}

{% load static %}

{% block right_nav_functon_li %}
    {% if user.is_authenticated %}
        <li class="divider"></li>
        <li><a href="{% url 'counting'%}"><i class="fa fa-rotate-90 fa-sliders"></i>Fission track counting</a></li>
        {% if user.is_staff %}
        <li><a href="{% url 'report'%}"><i class="fa fa-cubes"></i>Manage your projects</a></li>
        {% endif %}
        {% if user.is_staff or user.is_superuser %}
        <li><a id='projects-link' href="{% url 'projects'%}"><i class="fa fa-flash"></i>Edit your projects</a></li>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}

{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>{{ message.tags }}</strong> {{ message }}
</div>
{% endfor %}

<div style="margin-top:20px">

<div class="container">
    <div class="row">
    <div class="row main-sidebar-right">
        <div class="jumbotron">
            <h2>Welcome, <b>{{user.username}}</b>!</h2>
            {% if not tutorial_completed %}
            <p class="text-danger"><small>You must finish the tutorial before counting.</small></p>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h2>How to</h2>
                <p><a class="btn" id="tutorial-link" href="{%url 'tutorial' %}" role="button">Tutorial &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <h2>Start counting</h2>
                <p><a class="btn" id="start-counting-link" role="button"
                  {% if tutorial_completed %} href="{% url 'counting' %}" {% else %} disabled="" {% endif %}>
                  Go &raquo;
                </a></p>
            </div>
            {% if user.is_staff %}
            <div class="col-lg-4">
                <h2>Administration</h2>
                <p><a class="btn" id="admin-link" href="{% url 'admin:index' %}" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <h2>Get results</h2>
                <p>Download project results for offline analysis.</p>
                <p><a class="btn" href="{% url 'report'%}" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <h2>Manage projects</h2>
                <p>Create, remove, and update projects. Upload crystal stacks.</p>
                <p><a href="{% url 'projects'%}" class="btn" role="button">View details &raquo;</a></p>
            </div>
            {% endif%}
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 sidebar-right" id="sidebar" role="navigation">
        <div class="list-group">
          <a href="{% url 'account_logout'%}" class="list-group-item active">Logout</a>
          {% if user.username != "guest" %}
          <a href="{% url 'account_change_password'%}" class="list-group-item">Change password</a>
          {% endif %}
        </div>
    </div>
    </div>
    <footer>
        <p>&copy; Jiangping He 2014 - 2021</p>
    </footer>
</div>

</div>

{% endblock %}

