{% extends "ftc/base.html" %}

{% load static %}

{% block head %}
<script>
$(document).ready(function () {
  $('[data-toggle="offcanvas"]').click(function () {
    $('.row-offcanvas').toggleClass('active')
  });
});
</script>
<style>
/*
 * Style tweaks
 * --------------------------------------------------
 */
/* Prevent scroll on narrow devices */
/*
html,
body {
  overflow-x: hidden;
}
*/
/*
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}
*/
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
</style>
{% endblock %}

{% block content %}

    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>{{ message.tags }}</strong> {{ message }}
      </div>
      {% endfor %}
    {% endif %}
<!-- ========== -->
<div class="container" style="margin-top:20px">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <!-- <h1>Hello, world!</h1> -->
            <h2>Welcome, {{user.username}}!</h2>
            {% if not tutorial_completed %}
            <p class="text-danger"><small>You must finish the tutorial before counting.</small></p>
            {% endif %}
          </div>
          <div class="row">
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>How to</h2>
              <!--<p>A tutorial on how to count tracks.</p>-->
              <p><a id="tutorial-link"
                class="btn btn-default{% if not tutorial_completed %} btn-primary{% endif %}"
                href="{%url 'tutorial' %}" role="button">Tutorial &raquo;</a></p>
            </div>
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Start counting</h2>
              <!--<p>Counting the tracks</p>-->
              <p><a id="start-counting-link"
                class="btn btn-default{% if tutorial_completed %} btn-primary{% endif %}"
                role="button"
                {% if tutorial_completed %}href="{% url 'counting' %}"{% else %}disabled{% endif %}
                >Go &raquo;</a></p>
            </div>
            {% if user.is_staff %}
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Administration</h2>
              <p><a id="admin-link" class="btn btn-default" href="{% url 'admin:index' %}" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Get the results</h2>
              <p>Download your project results. Download the results for offline analysis.</p>
              <p><a class="btn btn-default" href="{% url 'report'%}" role="button">View results &raquo;</a></p>
            </div>
            {% endif%}
            {% if user.is_staff or user_can_access_projects %}
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Manage projects</h2>
              <p>Add, remove and update your projects; upload crystal stacks.</p>
              <p><a id="manage-link" class="btn btn-default" href="{% url 'projects'%}" role="button">Manage &raquo;</a></p>
            </div>
            {% endif%}
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
            <a id="logout-button" href="#" onclick="document.getElementById('logout-form').submit()" class="list-group-item active">Logout</a>
            {% if user.username != "guest" %}
            <a href="{% url 'account_change_password'%}" class="list-group-item">Change password</a>
            {% endif %}
          </div>
        </div>
      </div>

      <hr>
      <footer>
        <p>&copy; Jiangping He 2014 - 2018 and Tim Band 2019 - 2025</p>
      </footer>

    </div>
<!-- ========== -->

{% endblock %}

