{% extends "ftc/base.html" %}

{% load static %}

{% block right_nav_fn_edit %}
{% endblock %}

{% block content %}

<h1> Project <strong>{{ object.project_name }}</strong></h1>
<div class="details">
    <table class="table no-stretch">
        <tr><td>By</td><td>{{object.creator}}</td></tr>
        <tr><td>On</td><td>{{object.create_date}}</td></tr>
        <tr><td>Description</td><td>{{object.project_description}}</td></tr>
        <tr><td>Priority</td><td>{{object.priority}}</td></tr>
        <tr><td>Closed?</td><td>{{object.closed}}</td></tr>
    </table>
    <a href="{% url 'project_update' object.pk %}">Edit</a>
</div>
<div><a href="{% url 'projects' %}"> back to all projects</a></div>
<h2>Samples</h2>
<a id="create-sample" href="{% url 'sample_create' object.pk %}">Create new sample</a>
<table class="table no-stretch">
    <thead><th>Sample</th><th>Excluded?</th><th>Download ROIs</th></thead>
    <tbody id="sample-list">
        {% for s in object.sample_set.all %}
        <tr>
            <td><a href="{% url 'sample' s.pk %}">{{ s.sample_name }}</a></td>
            <td>{{ s.completed }}</td>
            <td><a id="download-roiss" href="{% url 'download_roiss' %}?samples[]={{ s.pk }}" download="roiss.json">Download ROIs</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
