{% extends "ftc/base.html" %}

{% load static %}

{% block head %}
<!-- Include Fancytree skin and library -->
<link href="{% static 'skin-lion/ui.fancytree.min.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'jquery/jquery.fancytree.min.js' %}" type="text/javascript"></script>

<!-- Include DataTables skin and library -->
<!--
<link rel="stylesheet" type="text/css" href="{% static 'DataTables-1.10.2/media/css/jquery.dataTables.css' %}">
-->
<script type="text/javascript" charset="utf8" src="{% static 'DataTables-1.10.23/js/jquery.dataTables.min.js' %}"></script>
<!-- datatables integrate with  bootstrap-->
<link rel="stylesheet" type="text/css" href="{% static 'DataTables-1.10.23/css/dataTables.bootstrap.css' %}">
<script type="text/javascript" charset="utf8" src="{% static 'DataTables-1.10.23/js/dataTables.bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Buttons-1.6.5/css/buttons.dataTables.css' %}">
<script src="{% static 'Buttons-1.6.5/js/dataTables.buttons.js' %}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Select-1.3.1/css/select.dataTables.css' %}">
<script src="{% static 'Select-1.3.1/js/dataTables.select.js' %}" type="text/javascript"></script>
<script type="text/javascript">
  function updateTextInput(val) {
    document.getElementById('grain_no_txt').value=val; 
  }
</script>
<!-- =============
<style type="text/css">
span.fancytree-icon {
  position: relative;
}
span.fancytree-childcounter {
  color: #fff;
  background: #428BCA;
/*  border: 1px solid gray; */
  position: absolute;
  top: -6px;
  right: -6px;
  min-width: 10px;
  height: 10px;
  line-height: 1;
  vertical-align: baseline;
  border-radius: 10px; /*50%;*/
  padding: 2px;
  text-align: center;
  font-size: 9px;
}
</style>
====== -->
<style type="text/css">

.label-as-badge {
    border-radius: 1em;
}

ul.fancytree-container{
	font-family:tahoma,arial,helvetica;
	font-size:10pt;
	background-color:#fff;
	border:0px none red;
        outline: none;
}

/*
 * Style tweaks
 * --------------------------------------------------
 */
/* Prevent scroll on narrow devices */
/*
html,
body {
  overflow-x: hidden;
}
*/
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

.fa-stethoscope {
  color: white;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }

</style>

{% endblock %}

            {% block left_nav_li %}{% endblock %}
            {% block right_nav_li %}{% endblock %}

            {% block right_nav_functon_li %}
                {% if user.is_staff %}
                    <li class="divider"></li>
                    <li><a href="{% url 'counting'%}"><i class="fa fa-rotate-90 fa-sliders"></i> &nbsp;fission track counting</a></li>
                {% endif %}
            {% endblock %}

{% block content %}
   <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">
<!--
       <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Projects</a></li>
          </ul>
          <div id="tree">
            <ul>
             {% for project in projects.all %}
             <li id="p{{ project.id }}" class="folder">{{ project.project_name }}
                <ul>
                {% for sample in project.sample_set.all %}
                  <li id="{{ sample.id }}"> {{ sample.sample_name }} </li>
                {% endfor %}
                </ul>
             </li>
             {% endfor %}
            </ul>
          </div>
        </div>
-->
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <h1 class="sub-header" style="margin-top: 0px; padding-bottom: 0px;">Results</h1>
            <table id="mytable" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                  <tr>
                      <th>Project</th>
                      <th>Sample</th>
                      <th>Grain #</th>
                      <th>Type</th>
                      <th>Result</th>
                      <th>Worker</th>
                      <th>Submit Date</th>
                  </tr>
              </thead>

              <tfoot>
                  <tr>
                      <th>Project</th>
                      <th>Sample</th>
                      <th>Grain #</th>
                      <th>Type</th>
                      <th>Result</th>
                      <th>Worker</th>
                      <th>Submit Date</th>
                  </tr>
              </tfoot>
            </table>

      </div>

                    <!--
                    <div style="cursor: default;"> {{ sample.sample_name }}&nbsp;
                    <a href="{{ project.id }}/{{ sample.id }}/{{ sample.total_grains }}"><i class="fa fa-stethoscope"></i></a></div>
                    -->

       <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div>
            <h1 class="sub-header bg-primary" style="margin-top: 0px; padding-bottom: 0px;">Projects</h1>
          </div>
          <h5 class="text-muted"><small>Check to view the results or Select to count a grain:</small></h5>
          <div id="tree">
            <ul>
             {% for project in projects.all %}
             <li id="p{{ project.id }}" class="folder">{{ project.project_name }}
                <ul>
                {% for sample in project.sample_set.all %}
                  <li id="{{ sample.id }}_{{ sample.total_grains }}_{{ sample.sample_property }}">{{ sample.sample_name }}</li>
                {% endfor %}
                </ul>
             </li>
             {% endfor %}
            </ul>
          </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Choose a grain for FTC</h4>
              </div>
              <div class="modal-body">
              <div class="container-fluid">
                <form id="request-grain">
                  <div class="form-group">
                    <label for="recipient-name" class="control-label">Project:</label>
                    <input type="text" class="form-control" id="recipient-name" readonly>
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="control-label">Sample:</label>
                    <input type="text" class="form-control" id="message-text" readonly>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label for="message-text" class="control-label">Grain No.:</label>
                      <input type="text" class="form-control" id="grain_no_txt" value="1" readonly>
                      <input type="range" name="grain_num" id="grain_no" value="1" step="1" oninput="updateTextInput(this.value);">
                    </div>
                    <div class="col-md-6">
                      <label for="message-text" class="control-label">Type:</label>
                      <div class="radio"><label><input type="radio" name="ft_type" id='induced' value="I">Induced</label></div>
                      <div class="radio"><label><input type="radio" name="ft_type" id='spontaneous' value="S" checked>Spontaneous</label></div>
                    </div>
                  </div>
                  <div>
                    <div class="form-group">
                      <input type="hidden" name="proj_id" id="proj_id" value="">
                      <input type="hidden" name="sample_id" id="sample_id" value="">
                    </div>
                  </div>
                </form>
              </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="count_grain">Start</button>
              </div>
            </div>
          </div>
        </div>

    </div> <!-- /container -->

<script type="text/javascript">
  $(function(){

  $('[data-toggle="offcanvas"]').click(function () {
    $('.row-offcanvas').toggleClass('active')
  });

    // https://coderwall.com/p/cxwg_g
    // pass csrf tokens to Django
    $.ajaxSetup({beforeSend: function(xhr, settings){

        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');

    }});

    var dataTable; //reference to your dataTable
    dataTable = $('#mytable').dataTable({
                    "jQueryUI": true,
                    "dom": 'T<"clear">lfrtip',
                    "tableTools": {
                          "sSwfPath": "{% static 'DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls_pdf.swf' %}"
                    },
/*
                    "columns": [
                       { "width": "15%" },
                       { "width": "15%" },
                       { "width": "5%" },
                       { "width": "2%" },
                       { "width": "5%" },
                       { "width": "15%" },
                       { "width": "15%" },
                    ]
*/
                });
    //new $.fn.dataTable.FixedHeader( dataTable );

    // Create the tree inside the <div id="tree"> element.
    $("#tree").fancytree({
     /* extensions: ["childcounter"],
        childcounter: {
            deep: true,
            hideZeros: true,
            hideExpanded: true,
        }, */
        checkbox: true,
        persist: true,
        selectMode: 3, // 1:single, 2:multi, 3:multi-hier
        renderNode: function (event, data) {
           var node = data.node;
           //var deleteButton = $('<span class="badge badge-info" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">count</span>');
           //deleteButton.css('cursor','pointer');
           //var deleteButton = $('<button type="button" class="btn" onclick="myFunction()">delete node</button>');
           leaf_node = $(node.span).not('.fancytree-has-children')
           if((leaf_node.length != 0) && !(leaf_node.children().hasClass('label-as-badge')) ) {
               //alert(node.parent.title+'\n'+node.parent.key+'\n'+node.title+'\n'+node.key+'\n');
               var btn_html = '<span class="label label-primary label-as-badge" data-toggle="modal"'
                            + ' data-proj=' + node.parent.title
                            + ' data-proj_id=' + node.parent.key
                            + ' data-sample=' + node.title
                            + ' data-sample_id=' + node.key
                            + ' data-toggle="modal" data-target="#exampleModal">count</span>'
               var deleteButton = $(btn_html); 
               //var deleteButton = $('<span class="badge badge-info" data-toggle="modal" data-target="#exampleModal" data-proj="@mdo">count</span>');
               deleteButton.css('cursor','pointer');
               leaf_node.append(deleteButton);
               deleteButton.hide();
               leaf_node.hover(function () {
                  // mouse over
                  deleteButton.show();
                  }, function () {
                  // mouse out
                  deleteButton.hide();
               });
           } // end lead_node setting
        },
        select: function(event, data) {
            // Get a list of all selected nodes
            var selectedNodes = data.tree.getSelectedNodes();
            // ... and convert to a key array:
            var selectedKeys = $.map(selectedNodes, function(node){
               return (node.key.charAt(0).toLowerCase() == 'p') ? null : node.key.split('_')[0];
            });
            //console.log(selectedKeys);
            // ... get id of all node
            //dataTable.ajax.url( '/getTableData/' ).load();
            $.ajax({
                url: "{% url 'getTableData'%}",
                type: 'POST',
                //contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify({
                         client_response: selectedKeys,
                         //csrfmiddlewaretoken: '{{ csrf_token }}' 
                      }),
                success: function(result) {
                             //console.log(dataTable);
                             //console.log(result);
                             if (result.aaData.length > 0) {
                                 dataTable.fnClearTable();
                                 //dataTable.fnDraw();
                                 dataTable.fnAddData(result.aaData);
                                 dataTable.fnDraw();
                                 //dataTable.columns.adjust().draw();
                             } else {
                                 dataTable.fnClearTable();
                                 dataTable.fnDraw();
                             }
                         },
                error : function(xhr,errmsg,err) {
                             console.log(xhr.status + ": " + xhr.responseText);
                        },
            });
            // ... update table data
            // dataTable.ajax.url( '/getTableData/' ).load();
        },
    }); // end of tree

    //modal
    $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var proj = button.data('proj'); // Extract info from data-* attributes
      var proj_id = button.data('proj_id');
      var sample = button.data('sample');
      var sample_info = button.data('sample_id').split("_");
      var modal = $(this);
      modal.find('.modal-body #recipient-name').val(proj);
      modal.find('.modal-body #message-text').val(sample);
      modal.find('.modal-body #grain_no').attr('placeholder','max: ' + sample_info[1]);
      modal.find('.modal-body #grain_no').attr('min', 1);
      modal.find('.modal-body #grain_no').attr('max', sample_info[1]);
      modal.find('.modal-body #proj_id').val(proj_id.substring(1))
      modal.find('.modal-body #sample_id').val(sample_info[0])
      if(sample_info[2].charAt(0).toUpperCase() == 'D') {
          modal.find('.modal-body #spontaneous').attr("disabled",true);
      }
    }); // end of modal

    //
    $('button#count_grain').click(function(event) {
        var o = {};
        var a = $('form#request-grain').serializeArray();
        a.push({name:'num_markers', 'value':'0'});
        a.push({name:'marker_latlngs', 'value':[]});
        $.each(a, function() {
            if(this.name != 'ft_type' && this.name != 'marker_latlngs') {
                value = parseInt(this.value);
            } else {
                value = this.value; 
            }
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(value);
            } else {
                o[this.name] = value;
            }
        });
        $.ajax({
            url: "{% url 'saveWorkingGrain'%}",
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify({'intermedia_res':o}),
            success: function(result) {
                console.log('submitted: ' + result.reply);
                window.location = "{% url 'counting'%}";
            },
            error: function(xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
                alert('Failed to save your intermedia result, Please try again.');
            }
        });
        event.preventDefault();
    }); 
    // end submit
  });
</script>

{% endblock %}

</body>
</html>
