{% extends "ftc/base.html" %}

{% load static %}

{% block content %}

<h1> Sample
    <strong>{{ object.sample_name }}</strong>
    of project
    <a href="{% url 'project' object.in_project.pk %}">
        {{object.in_project.project_name}}
    </a>
</h1>
<div class="details">
    <table>
        <tr><td>Property</td><td>{{object.get_sample_property_display}}</td></tr>
        <tr><td>Total grains</td><td>{{object.total_grains}}</td></tr>
        <tr><td>Priority</td><td>{{object.priority}}</td></tr>
        <tr><td>Minimum contributor number</td><td>{{object.min_contributor_num}}</td></tr>
        <tr><td>Completed?</td><td>{{object.completed}}</td></tr>
        <tr><td>Project owner</td><td>{{object.get_owner}}</td></tr>
    </table>
    <a href="{% url 'sample_update' object.pk %}">Edit</a>
</div>
<div><a id="create-grain" href="{% url 'grain_create' object.pk %}">Create new grain</a></div>
<h2>Grains</h2>
<table class="grain_table">
    <tr>
        <th>Grain</th>
        <th>Number of results</th>
        <th>Owner's track count</th>
    </tr>
    {% for g in object.grain_set.all %}
    <tr>
        <td><a href="{% url 'grain' g.pk %}">{{ g.index }}</a></td>
        <td>{{ g.count_results }}</td>
        <td>
            {% with result=g.owners_result %}
            {% if result == None %}
                Not started
            {% elif result < 0 %}
                Not submitted
            {% else %}
                {{ result }}
            {% endif %}
            {% endwith %}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
