{% extends "ftc/base.html" %}

{% load static %}

{% block head %}
<style>
body {font-family: sans-serif;}
div.separator {width:20px; height:20px;}
.left {float: left;}
.right {float: right;}
div#slider {width: 10px; height: 200px;}
div.box {border: 1px solid; padding: 5px;}
div#results {width: 400px;}
#container {position: relative;}
#container canvas #focus #slider {position: absolute;}
#slider {left: 50px; top: 50px;}
#canvas {left: 0px}
#buttons {display: inline-block;}
</style>
<script>
var tutorialDir = "{% static 'tutorial' %}";
var return_url = "{% url 'counting' %}";
var tutorialResult_url = "{% url 'tutorialResult' %}";
var atoken = '{{ csrf_token }}';
</script>
<script type='text/javascript' src="{% static 'counting/script/tutorial.js' %}"></script>
{% endblock %}
{% block content %}

<div class="left" id="container">
    <canvas id="myCanvas"></canvas>
    <div id="slider" class="left"></div>
</div>

<div class="separator left">&nbsp;</div>

<div class="left">
    <table id="buttons" class="left">
        <tbody>
            <tr>
                <td>
                    <button id="previous" class="left" disabled>Previous</button>
                </td>
                <td>
                    <button id="next" class="left">Next</button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button id="finish" class="left" disabled>Finish and start counting!</button>
                </td>
            </tr>
        </tbody>
        <div>
            &nbsp;
        </div>
    </table>

    <div class="separator left">&nbsp;</div>

    <div class="left">
        <div class="box left" id="results"></div>
    </div>
</div>

{% endblock %}
