{% extends "ftc/base.html" %}

{% block head %}
<style>
form.left {
    position: absolute;
    width: 50%;
    left: 0%;
}
form.right {
    position: absolute;
    width: 50%;
    left: 50%;
}
</style>
{% endblock %}

{% block content %}
<span>
<form class="left"
    enctype="multipart/form-data"
    action="{% url 'tutorial_update' object.pk %}"
    method="POST">
    <table>
        {{ form.as_table }}
    </table>
    {% csrf_token %}
    <input type="submit" value="Update Tutorial Page">
</form>
<form class="right"
    enctype="multipart/form-data"
    action="{% url 'tutorial_delete' object.pk %}"
    method="POST">
    {% csrf_token %}
    <input type="submit" value="Delete Tutorial Page">
</form>
</span>
{% endblock %}
