{% extends "ftc/base.html" %}

{% load static %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="{% static 'Leaflet-1.9.3/leaflet.css' %}" />
<link rel="stylesheet" href="{% static 'noUiSlider-14.6.3/nouislider.min.css' %}" />
<style type="text/css">
#map {
      position: absolute;
      top: 40px;
      bottom: 0;
      width: 100%;
    }
#dropdown-tracknum  .form-control, .dropdown-menu {
border-radius: 0px;
}

#dropdown-tracknum .input-group-lg > .input-group-addon{
border-radius: 0px;
padding: 0px 6px;
}

#dropdown-tracknum .form-control {
background-color: #fff;
}
.input-group-lg > .form-control {
padding: 0px 8px;
font-size: 44px; /*canot set too big otherwise chromium will not vartical center*/
font-family: "ds-digitalitalic";
}
.input-group-addon {
    padding: 6px 6px;
}

.noUi-base {
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
}

.noUi-handle {
    cursor: default;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: none repeat scroll 0% 0% #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
    width: 0px;
}

#tracknum {
  width:90px;
  height:46px;
  line-height: 1.3px;
  text-align: center;
  font-family: 'ds-digitalitalic';
  font-size: 44px;
}

#btn-tracknum {
  width:30px;height:46px;border-radius:0;padding:6px 1px;
}

#btn-comment {
    height: 50px;
}

.noUi-vertical .noUi-tooltip {
    transform: none;
    -webkit-transform: none;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    border: none;
    line-height: 140%;
}

.ftc-uscale {
    background-color: gray;
}

.ftc-uscale-line-10 {
    background-image: repeating-linear-gradient(
        to right, white 0%, white 10%, gray 10%, gray 20%
    );
}

.ftc-uscale-line-5 {
    background-image: repeating-linear-gradient(
        to right, white 0%, white 20%, gray 20%, gray 40%
    );
}

.ftc-uscale-line-2 {
    background-image: repeating-linear-gradient(
        to right, white 0%, white 50%, gray 50%, gray 100%
    );
}

.overlay-box {
    position: fixed;
    background: white;
    border: 1px solid black;
    z-index: 500;
    overflow: auto;
}

.overlay-response {
    display: none;
    left: 5%;
    width: 30%;
    top: 70%;
    height: 20%;
}

.visible {
    display: block;
}

#description {
    left: 60%;
    width: 35%;
    top: 65%;
    height: 30%;
}

.overlay-box .text {
    margin: 10px;
    overflow: scroll;
}

#correction {
    font-weight: bold;
}

.button {
    padding-left: 20px;
    padding-right: 20px;
}

.button-bar {
    position: sticky;
    bottom: 0;
    padding: 7px 10px;
}

#map.no-boxes .leaflet-marker-icon {
	display: none
}
</style>
<script src="{% static 'Leaflet-1.9.3/leaflet.js' %}"></script>
<script type='text/javascript' src="{% static 'counting/script/easy-button.js' %}"></script>
<script type='text/javascript' src="{% static 'counting/script/jquery.mousewheel.js' %}"></script>
<script type='text/javascript' src="{% static 'noUiSlider-14.6.3/nouislider.min.js' %}"></script>
<script type='text/javascript' src="{% static 'counting/script/geochron.js' %}"></script>
<script type='text/javascript'>
var question_number = 0;
var map = null;
var categories = {
{% for cat in categories %}{{ cat.name }}:"{{ cat.description }}",
{% endfor %}
};
function submit_category() {
    var category = document.getElementById('category');
    if (category.value == "") {
        return;
    }
    var answer = map.getData().category;
    var correct = answer == category.value;
    var box = document.getElementById(correct? 'response-correct' : 'response-incorrect');
    if (!correct) {
        document.getElementById('correction').textContent = categories[answer];
    }
    box.classList.add('visible');
    var submit = document.getElementById('submit-button');
    submit.classList.add('disabled');
}

function previous_page() {
    //{% if prev_page %}
    window.location = '{% url "tutorial_page" prev_page.pk %}';
    //{% endif %}
}

function next_page() {
    window.location = '{% if next_page %}{% url "tutorial_page" next_page.pk %}{% else %}{% url "tutorial_end" %}{% endif %}';
}

function next_mark() {
    var submit = document.getElementById('submit-button');
    submit.classList.remove('disabled');
    var box = document.getElementById('response-correct');
    box.classList.remove('visible');
    var box = document.getElementById('response-incorrect');
    box.classList.remove('visible');
    ++question_number;
    if (!map.nextMarker()) {
        next_page();
    }
}

function setup() {
    $(document.body).on('shown.bs.dropdown', function() {
        $('[autofocus]').focus();
    });
    map = grain_view({
        grain_info: JSON.parse('{{ grain_info|escapejs }}'),
        {% if object.category %}
        only_category: "{{ object.category.name }}",
        {% endif %}
        atoken: '{{ csrf_token }}',
        {% if object.page_type == "E" %}
        iconUrl_normal: "{% static 'counting/images/basic-box.svg' %}",
        iconUrl_selected: "{% static 'counting/images/basic-box.svg' %}",
        iconUrl_comment: "{% static 'counting/images/highlight-box.svg' %}",
        {% else %}
        iconUrl_normal: "{% static 'counting/images/null.svg' %}",
        iconUrl_selected: "{% static 'counting/images/highlight-box.svg' %}",
        iconUrl_comment: "{% static 'counting/images/null.svg' %}",
        {% endif %}
        iconSize: 40,
        iconAnchor: [20, 20],
        iconPopup: [20, 0]
    });
    {% if object.page_type == "S" or object.page_type == "I" %}
    map.enableEditing();
    {% endif %}
    {% if object.page_type == "C" %}
    map.map.setZoom(map.map.getMaxZoom());
    setTimeout(map.firstMarker, 800);
    {% endif %}
}
function hide_boxes() {
    var hidden = document.getElementById('hide-boxes').checked;
    var mapelt = document.getElementById('map');
    if (hidden) {
        mapelt.classList.add('no-boxes');
    } else {
        mapelt.classList.remove('no-boxes');
    }
}
</script>
{% endblock %}

{% block left_nav_li %}
{% if object.page_type == "C" %}
<select id="category" name="category">
    <option value="">-- category --</option>
    {% for cat in categories %}
    <option value="{{ cat.name }}">{{ cat.description }}</option>
    {% endfor %}
</select>
<button type="button" id="submit-button" class="btn btn-submit" onclick="submit_category()">
    Submit answer
</button>
{% endif %}
{% endblock %}
{% block right_nav_li %}{% endblock %}
{% block right_nav_fn_counting %}{% endblock %}

{% block body_attributes %}onload='setup()'{% endblock %}

{% block help %}
<div class="btn-group">
    <div type="button" class="btn navbar-link dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-question-circle fa-lg"></i>
    </div>
    <ul id="help-list" class="dropdown-menu"></ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="dropdown-tracknum" class="input-group">
<div class="btn-group">
  {% if object.page_type == "S" or object.page_type == "I" %}
  <input id="tracknum" class="form-control" type="text" value="000" readonly>
  <button id="btn-tracknum" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a id="tracknum-submit" href="#"><i class="fa fa-cloud-upload"></i>submit result</a></li>
    <li><a id="tracknum-restart" href="#"><i class="fa fa-th-list"></i>restart counting</a></li>
  </ul>
  {% endif %}
</div>
</div>
<div style="clear:both;"></div>

<div id="map" style="cursor: crosshair; position: absolute; top: 50px; bottom: 0; width: 100%; "></div>

<div id="description" class="overlay-box">
    <div class="text">{{ object.message | linebreaks }}</div>
    <div class="button-bar">
        {% if object.page_type == "E" %}
        <span>
            {% if prev_page %}
            <button type="button" id="previous" onclick="previous_page()" class="button">
                Previous Page
            </button>
            {% endif %}
            <button type="button" id="next" onclick="next_page()" class="button">
                Next Page
            </button>
            <input type="checkbox" id="hide-boxes" onclick="hide_boxes()"><label for="hide-boxes">Hide boxes</label>
        </span>
        {% endif %}
    </div>
</div>

<div id="response-correct" class="overlay-box overlay-response">
    <div class="text">Correct!</div>
    <div id="correct-dismiss" class="btn btn-default text" onclick="next_mark()">OK</div>
</div>

<div id="response-incorrect" class="overlay-box overlay-response">
    <div class="text">
        Sorry, that is the wrong answer. The correct answer was
        <span id="correction"></span>
    </div>
    <div id="correct-dismiss" class="btn btn-default text" onclick="next_mark()">OK</div>
</div>

{% endblock %}

{% block footer %}{% endblock %}
